<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %> landing page.</p>
    <ul>
      <li><a href="/docs">CIX Documentation</a></li>
      <li><a href="/api-docs">Swagger API</a></li>
    </ul>
    <p>Running on <a href="<%= url %>"><%= url %></a></p>
  </body>
</html>
